@media (min-width:800px){
        #rocket_details{
        margin-top: 50px;
        width : 70%;
    }
    .rocket_details{
        border: solid black 1px;
        font-size: large;
        margin-left: 100px;
        margin-bottom: 15em;
        height : 750px;
        width: 370px;
        vertical-align: top;
        display: inline-block;
    }
    .users{
        padding-top: 10px;
        padding-left: 20px;
        margin-left: 20px;
        border: 1px solid black;
        width : 90%;
        height : 300px;
        overflow-y: scroll
    }
    .action_sync{
        margin-left: 100%;
    }
}

@media (max-width:500px){
    .rocket_details{
        border: solid black 1px;
        margin-left: 0px;
        margin-bottom: 250px;
        height: 300px;
        width: 100%;
        font-size: large;
        vertical-align: top;
        display: block;
    }
    .users{
        padding-top: 10px;
        border: 1px solid black;
        width : 100%;
    }
    .action_sync{
        margin-top: 30px;
        margin-left: 10%;
    }
}