<div id="rocket_details">
    <div id="moodle" class="rocket_details">
        {{# moodle }}
            <h3>Moodle :</h3><br>
            <label>Name : </label><br/><span id="name"> {{ name }}</span><br/><br/>
            <label>Id : </label><span id="rocketchatid"> {{ rocketchatid }}</span><br/>
            <label>UserCount : </label><span id="rocketchatid"> {{ intro }}</span><br/>
            <label>RetentionEnabled : </label><span id="retentionenabled"> {{ retentionenabled }}</span><br/>
            <label>MaxAge : </label><span id="maxage"> {{ maxage }}</span><br/>
            <label>FilesOnly : </label><span id="filesonly"> {{ filesonly }}</span><br/>
            <label>ExcludePinned : </label><span id="excludepinned"> {{ excludepinned }}</span><br>
            <label>Users :</label><div class="users">
                {{# moodleUsers }}
                    <span>{{name}}</span><br>
                {{/moodleUsers}}
            </div>
        {{/ moodle }}
    </div>
    {{# rocketchat }}
    <div id="rocket" class="rocket_details">
            <h3>Rocketchat :</h3><br>
            <label>Name : </label><br/><span id="name"> {{ room.name }}</span><br/><br/>
            <label>Id : </label><span id="rocketchatid"> {{ room._id }}</span><br/>
            <label>UserCount : </label><span id="rocketchatid"> {{ room.usersCount }}</span><br/>
            <label>RetentionEnabled : </label><span id="retentionenabled"> {{ room.retention.enabled }}</span><br/>
            <label>MaxAge : </label><span id="maxage"> {{ room.retention.maxAge }}</span><br/>
            <label>FilesOnly : </label><span id="filesonly"> {{ room.retention.filesOnly }}</span><br/>
            <label>ExcludePinned : </label><span id="excludepinned"> {{ room.retention.excludePinned }}</span><br>
            <label>Users :</label><div class="users">
                {{# rocketchatUsers }}
                    <span>{{nickname}}</span><br>
                {{/rocketchatUsers}}
            </div>
    </div>
    <button class="action_sync btn btn-secondary"><a href="{{{ syncbutton }}}">Synchroniser</a></button>
    {{/rocketchat}}
    {{^rocketchat}}
    <div id="rocket" class="rocket_details">
        <h3>Rocketchat course is missing!</h3>
    </div>
    <button class="action_sync btn btn-secondary"><a href="{{{ recreatebutton }}}">Resynchroniser</a></button>
    {{/rocketchat}}
</div>