<div id="rocket_details">
    <h2>Titre</h2>
    <div id="moodle">
        {{# moodle }}
            <label>Name : </label><span id="name"> {{ name }}</span><br/>
            <label>Id : </label><span id="rocketchatid"> {{ rocketchatid }}</span><br/>
            <label>UserCount : </label><span id="rocketchatid"> {{ intro }}</span><br/>
            <label>RetentionEnabled : </label><span id="retentionenabled"> {{ retentionenabled }}</span><br/>
            <label>MaxAge : </label><span id="maxage"> {{ maxage }}</span><br/>
            <label>FilesOnly : </label><span id="filesonly"> {{ filesonly }}</span><br/>
            <label>ExcludePinned : </label><span id="excludepinned"> {{ excludepinned }}</span><br>
            {{# moodleUsers }}
                <span>{{name}}</span><br>
            {{/moodleUsers}}
        {{/ moodle }}
    </div>
    <div id="rocket">
        {{# rocketchat }}
            <label>Name : </label><span id="name"> {{ room.name }}</span><br/>
            <label>Id : </label><span id="rocketchatid"> {{ room._id }}</span><br/>
            <label>UserCount : </label><span id="rocketchatid"> {{ room.usersCount }}</span><br/>

            <label>RetentionEnabled : </label><span id="retentionenabled"> {{ room.retention.enabled }}</span><br/>
            <label>MaxAge : </label><span id="maxage"> {{ room.retention.maxage }}</span><br/>
            <label>FilesOnly : </label><span id="filesonly"> {{ room.retention.filesonly }}</span><br/>
            <label>ExcludePinned : </label><span id="excludepinned"> {{ room.retention.excludePinned }}</span><br>
            {{# rocketchatUsers }}
                <span>{{nickname}}</span><br>
            {{/rocketchatUsers}}
        {{/ rocketchat }}
    </div>
</div>